<!DOCTYPE html>
<html lang="en">
<head>
<title>DUKI</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="../static/css/Duki.css">
</head>
<body>

<nav class="navbar navbar-inverse">
<div class="container-fluid">
    <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
    </button>
    <span class="navbar-brand glyphicon glyphicon-music"></span>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
    <ul class="nav navbar-nav">
        <li class="active"><a href="/">INICIO</a></li>
        <li><a href="#">BIOGRAFÍA</a></li>
        <li><a href="#">ÁLBUMES</a></li>
        <!-- <li><a href="#">Contact</a></li> -->
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li>
            <a href="#"><span class="glyphicon glyphicon-wrench"></span> IMPLANTACION DE APLICACIONES WEB</a>
        </li>
    </ul>
    </div>
</div>
</nav>

<div class="container-fluid text-center">    
<div class="row content">
    <div class="col-sm-2 sidenav">
    <p><a href="#" target="_blank">SUPER SANGRE JOVEN</a></p>
    <br>
    <p><a href="#" target="_blank"></a>24</p>
    <br>
    <p><a href="#"></a>DESDE EL FIN DEL MUNDO</p>
    <br>
    <p><a href="#"></a>TEMPORADA DE REAGGUETON 1</p>
    <br>
    <p><a href="#"></a>TEMPORADA DE REAGGUETON 2</p>
    <br>
    <p><a href="#"></a>ANTES DE AMERI</p>
    <br>
    <p><a href="#"></a>AMERI</p>
    </div>
    <div class="col-sm-8 text-left"> 
    <h1>DUKI</h1>
    <p></p>
    <hr>
    <h3>INFORMACIÓN<span class="glyphicon glyphicon-search small-icon"></span></h3>
    <form action="">
        <input type="text" class="form-control" placeholder="Buscar">
        <span class="input-group-btn">
        <button class="btn btn-default" type="button" onclick="">
            <span class="glyphicon glyphicon-search"></span>
        </button>
        </span>
        </form>
    </div>
    <div class="col-sm-2 sidenav">
    <div class="well">
        <img class="portada" src="../static/IMG/Super sangre joven.jpg" alt="SUPER SANGRE JOVEN">
    </div>
    <div class="well">
        <img class="portada" src="../static/IMG/24.jpg" alt="24">
    </div>
    <div class="well">
        <img class="portada" src="../static/IMG/Desde el fin del mundo.jpg" alt="DESDE EL FIN DEL MUNDO">
    </div>
    <div class="well">
        <img class="portada" src="../static/IMG/Temporada de reggaeton 1.jpg" alt="TEMPORADA DE REGGAETON 1">
    </div>
    <div class="well">
        <img class="portada" src="../static/IMG/Temporada de reggaeton 2.jpg" alt="TEMPORADA DE REGGAETON 2">
    </div>
    <div class="well">
        <img class="portada" src="../static/IMG/Antes de ameri.jpg" alt="ANTES DE AMERI">
    </div>
    <div class="well">
        <img class="portada" src="../static/IMG/Ameri.jpg" alt="AMERI">
    </div>
    </div>
</div>
</div>

<footer class="container-fluid text-center">
<p>STEVEN NATA IMPLANTACION DE APLICACIONES DE WEB</p>
</footer>

</body>
</html>
