<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS/recursos.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap" rel="stylesheet">
    <title>MILO J</title>
    <link rel="stylesheet" href="{{ url_for('static',path="css/Milo_J.css") }}">
</head>
<body>
    <h1 id="titulo">MILO J</h1>

    <div class="cont">

    <h3 id="rec1">511</h3>

    <a href="" target="_blank"><img class="imagenes" src="../static/IMG/511.jpg" alt="511"></a>

    </div>

    <div class="cont">

    <h3 id="rec2">EN DORMIR SIN MADRID</h3>

    <a href="" target="_blank"><img class="imagenes" src="../static/IMG/En dormir sin Madrid.jpg" alt="EN DORMIR SIN MADRID"></a>

    </div>

    <div class="cont">

    <h3 id="rec3">111</h3>

    <a href="" target="_blank"><img class="imagenes" src="../static/IMG/111.jpg" alt="111"></a>

    </div>

    <div class="cont">

    <h3 id="rec4">166</h3>

    <a href="" target="_blank"><img class="imagenes" src="../static/IMG/166.jpg" alt="166"></a>

    </div>

</body>
</html>