<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS/recursos.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap" rel="stylesheet">
    <title>QUEVEDO</title>
    <link rel="stylesheet" href="{{ url_for('static',path="css/Quevedo.css") }}">
</head>
<body>
    <h1 id="titulo">QUEVEDO</h1>

    <div class="cont">

    <h3 id="rec1">DONDE QUIERO ESTAR</h3>

    <a href="" target="_blank"><img class="imagenes" src="../static/IMG/Donde quiero estar.jpg" alt="DONDE QUIERO ESTAR"></a>

    </div>

    <div class="cont">

    <h3 id="rec2">BUENAS NOCHES</h3>

    <a href="" target="_blank"><img class="imagenes" src="../static/IMG/Buenas noches.jpg" alt="BUENAS NOCHES"></a>

    </div>

</body>
</html>