<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS/recursos.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap" rel="stylesheet">
    <title>RAMMA</title>
    <link rel="stylesheet" href="{{ url_for('static',path="css/Ramma.css") }}">
</head>
<body>
    <h1 id="titulo">RAMMA</h1>

    <div class="cont">

    <h3 id="rec1">INCRÉDULO</h3>

    <a href="" target="_blank"><img class="imagenes" src="../static/IMG/Incredulo.jpg" alt="INCRÉDULO"></a>

    </div>

    <div class="cont">

    <h3 id="rec2">INTRÉPIDO</h3>

    <a href="" target="_blank"><img class="imagenes" src="../static/IMG/intrepido.jpg" alt="INTRÉPIDO"></a>

    </div>

    <div class="cont">

    <h3 id="rec3">TRIP</h3>

    <a href="" target="_blank"><img class="imagenes" src="../static/IMG/Trip.jpg" alt="TRIP"></a>

    </div>

    <div class="cont">

    <h3 id="rec4">SOMOS EL SHOW</h3>

    <a href="" target="_blank"><img class="imagenes" src="../static/IMG/Somos el show.jpg" alt="SOMOS EL SHOW"></a>

    <h3 id="rec5">INMORTAL</h3>

    <a href="" target="_blank"><img class="imagenes" src="../static/IMG/Inmortal.jpg" alt="INMORTAL"></a>

    </div>

</body>
</html>